<div class="grid_items">
	<% @stories.each do |story| %>
	<div class="list_story_item clear">
		<div class="visual">
		  <%= link_to(image_tag(story.visual.url(:thumb)), visual_path(story.id)) if story.visual_file_name %>
		</div>
		<div class="content">
		  <h2><%= link_to story.title, visual_path(story.id) %></h2>
			<h3><%= l story.published_date, :format => :long if story.published_date %></h3>
		  <%= simple_format truncate(story.explanation, :length => 300, :separator => ' ') %>
		</div>
		<div class="item_footer clear">
			<div class="comment_count">
				<%= "#{t('app.common.comments')}:" %>
				<fb:comments-count href="<%= full_url(visual_path(story)) %>"></fb:comments-count>
			</div>
			<div class="like_count">
				<%= "#{t('app.common.likes')}:" %>
				<%= story.overall_votes %>
			</div>
		</div>
	</div>
	<% end %>
</div>
