<div id="visualization_row1" class="row-fluid">
  <div class="span1">
    &nbsp;
  </div>
  <div id="main_block" class="span6 clear">
		<%= page_title @visualization.title %>
    <div id="visualization_date">
      <%= l @visualization.published_date, :format => :long if @visualization.published_date %>
    </div>
    <div class="vote">
		  <%= votes_cont(@visualization) %>
    </div>
  </div>
  <div class="span4">
    &nbsp;
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>

<div id="visualization_row2" class="row-fluid">
  <div class="span1">
    &nbsp;
  </div>
  <div id="main_block" class="span6">
    <div id="visual">
			<% if @visualization.visualization_type_id == 2 %>
		    <%= link_to('test', url_for(params.merge(:view => 'interactive'))) %>
			<% else %>
		    <%= link_to(image_tag(@visualization.visual.url(:medium)), @visualization.visual.url(:large), :class => 'fancybox_visual') if @visualization.visual_file_name %>
			<% end %>
    </div>
  </div>
  <div id="visualization_sidebar" class="span4">
    <% if @visualization.explanation %>
    <div id="explanation">
      <%= simple_format @visualization.explanation %>
    </div>
    <% end %>

    <div id="source">
      <ul>
        <li>
          <%= "#{t('.reporter')}: #{@visualization.reporter}" %>
        </li>
        <li>
          <%= "#{t('.designer')}: #{@visualization.designer}" %>
        </li>
        <li>
          <%= "#{t('.data_source')}: #{@visualization.data_source_name}" %>
          <%= link_to t('helpers.links.website'), @visualization.data_source_url, :target => "blank", :class => 'btn btn-mini' if @visualization.data_source_url && !@visualization.data_source_url.empty? %>
        </li>
        <li>
          <%= "#{t('.data_set')}: " %>
          <%= link_to t('helpers.links.download'), @visualization.dataset.url, :class => 'btn btn-mini' if @visualization.dataset_file_name%>
        </li>
        <li>
          <%= "#{t('.category')}: #{@visualization.visualization_categories.map{|x| x.category.name}.join(', ')}" %>
        </li>
        <li>
          <%= "#{t('.type')}: #{@visualization.visualization_type.name}" %>
        </li>
      </ul>
    </div>

    <div id="share">
      <div>
			<%= link_to(image_tag("fb_share.jpg", :height => "20"),
						"http://www.facebook.com/share.php?u=#{current_url}",
						:title => "facebook",	:target => "_blank") %>
			<%= link_to(image_tag("twitter.jpg", :height => "20"),
						"https://twitter.com/share", :title => "twitter",
						:target => "_blank") %>
			</div>
			<div>
			  Embed ...
			</div>
    </div>
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>

<div id="visualization_row3" class="row-fluid">
  <div class="span1">
    &nbsp;
  </div>
  <div id="main_block" class="span6 clear">
    <div class="vote">
		  <%= votes_cont(@visualization) %>
    </div>
  </div>
  <div class="span4">
    &nbsp;
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>

<div id="visualization_row4" class="row-fluid clear">
  <div class="span1">
    &nbsp;
  </div>
  <div id="main_block" class="span6 clear">
		<h3>
			<%= "#{t('app.common.comments')}:" %>
			<fb:comments-count href="<%= full_url(visual_path(@visualization)) %>"></fb:comments-count>
		</h3>
		<div class="fb-comments" data-href="<%= current_url%>" data-num-posts="2" data-width="470"></div>
  <div class="span4">
    &nbsp;
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>
