<%= content_for :head, auto_discovery_link_tag(:atom, visuals_path(:format => "atom")) %>
<% title t('.title') %>

<%= render "shared/visuals_filter_bar" %>

<div class="visual_list viz js-setup-gifographics">
	<%= render @view_type %>
</div>

<a id="load_more_link" href="#" style="display: none;"><%= t('helpers.links.more') %></a>

<div class="hide_for_crawler"><%= link_to all_visuals_path, all_visuals_path %></div>
