<div id="post_idea">

  <%= render "shared/ideas_form" %>

  <%= page_title t('.title') %>

  <div id="ideas_text">
    <%= t('.text_ideas') %>
  </div>


  <%= render "shared/ideas_filter_bar" %>

  <%= render @view_type %>

</div>
