<div id="post_idea">

  <%= render "shared/ideas_form" %>

  <%= page_title t('.title') %>

  <div id="ideas_text">
    <%= t('.text_ideas') %>
  </div>


  <div id="idea_search">
	  <%= form_tag ideas_path(@param_options), :method => :get, :class => "form-search", :id => 'ideas_form_search' do %>
      <%= text_field_tag :q, params[:q], :class => 'input-large search-query'%>
      <%= button_tag t('app.common.search'), :class => 'btn' %>
    <% end %>
  </div>

  <%= render "shared/ideas_filter_bar" %>

  <div id="idea_list" class="viz resp">
    <%= render @view_type %>
  </div>

  <%= link_to_next_page @ideas, t('helpers.links.more'), :params => {:view => params[:view]}, :remote => true, :id=>"load_more_link" %>

</div>
