<div id="post_idea">

  <%= render "shared/ideas_form" %>

  <%= page_title t('.title') %>

  <div id="ideas_text">
    <p>
      <%= t('.text_ideas1') %>
    </p>
    <p>
      <%= t('.text_ideas2') %>
    </p>
  </div>


  <%= render "shared/ideas_filter_bar" %>

  <div id="idea_list" class="viz resp">
    <%= render @view_type %>
  </div>

  <a id="load_more_link" href="#" style="display: none;"><%= t('helpers.links.more') %></a>

</div>
