<div id="post_idea">

  <%= render "shared/ideas_form" %>

  <%= page_title t('.title') %>

  <div id="ideas_text">
    <%= t('.text_ideas') %>
  </div>


  <%= render "shared/ideas_filter_bar" %>

  <div id="idea_list" class="viz resp">
    <%= render @view_type %>
  </div>

  <%= link_to_next_page @ideas, t('helpers.links.more'), :params => {:view => params[:view]}, :remote => true, :id=>"load_more_link" %>

</div>
