<%- model_class = Idea -%>

<div id="post_idea">

  <%= render "shared/ideas_form" %>

  <div id="idea_row1" class="row-fluid">

    <div class="main_block clear">
      <% after_title = ''
          x = @idea.last_progress_report(current_user)
         if x 
           if x.is_completed 
            after_title << image_tag('completed.png', :title => t('filters.ideas.filter.completed'), :alt => t('filters.ideas.filter.completed')) 
          else 
            after_title << image_tag('in_progress.png', :title => t('filters.ideas.filter.in_progress'), :alt => t('filters.ideas.filter.in_progress'))
          end 
        end

        if user_signed_in? && !@idea.is_public && (@idea.organization_submitted_idea?(current_user) || @idea.organization_claimed_idea?(current_user)) 
          after_title << "<span class=\"private_item\">#{t('app.common.is_private')}</span>"
        end
       %>
		  <% title_after after_title.html_safe if after_title.present? %>
		  <%= page_title t '.title', :number => @idea.id %>
    </div>

  </div>

  <div id="idea_row1a" class="row-fluid">

    <div class="main_block clear">
      <div id="idea_date">
			  <%= l @idea.created_at, :format => :long %>
      </div>
      <div class="vote">
        <% if user_signed_in? && current_user.is_following_idea?(@idea.id) %>
	        <%= link_to t('helpers.links.unfollow_idea'), unfollow_idea_path(@idea.id), :class => 'follow_btn'%>
        <% else %>
	        <%= link_to t('helpers.links.follow_idea'), follow_idea_path(@idea.id), :class => 'follow_btn'%>
        <% end %>
        <% 
          can_like = @idea.voted(request.remote_ip, 'down')
          span_text = can_like ? t('app.common.like') : t('app.common.unlike')
          status = can_like ? 'up' : 'down'
        %>
        <%= link_to("<span class=\"heart\">❤</span><span class=\"text\">#{span_text}</span>".html_safe,
	          idea_vote_path(:id => @idea.id, :status => status),
	          :class => 'like_btn', :title => span_text, 
	          :'data-like' => t('app.common.like'), :'data-unlike' => t('app.common.unlike')) %>
      </div>
    </div>
    <div id="overall_counts" class="side_block">
      <ul>
        <li id="like_count">
          <span class="heart">❤</span>
          <span id="like_count_text">
            <span id="like_count_number"><%= @idea.overall_votes %></span>
            <%= t('filters.ideas.organize.likes') %>
          </span>
        </li>
        <li id="view_count">
          <%= image_tag('view_icon.png') %>
          <%= "#{@idea.impressions_count} #{t('filters.ideas.organize.views')}" %>
        </li>
        <li id="comment_count">
          <%= image_tag('comments_icon.png') %>
          <span class="comment_count_text">
            <span class="comment_count_number"><%= @idea.fb_count %></span>
            <%= t('app.common.comments_noun') %>
          </span>
        </li>
      </ul>
    </div>

  </div>

  <div id="idea_row2" class="row-fluid">

    <div class="main_block">
      <div id="idea">
        <% if @idea.is_inappropriate %>
	        <div>
		        <%= t('.inappropriate_idea') %>
	        </div>
        <% else %>

      		<%= simple_format auto_link(@idea.explaination, :urls, :target => "_blank") %>

          <div id="idea_buttons" class="clear">  
            <div id="translate">
			        <% if !@idea.in_locale?(I18n.locale) %>
				        <%= link_to t('.translate_idea'), google_translate_url(@idea.explaination), :target => :blank %>
              <% end %>
            </div>
            <div id="report">
			        <%= link_to t('helpers.links.report_inappropriate'),
					        ideas_report_inappropriate_path(@idea.id), :class => 'button fancybox' %>
            </div>
          </div>

          <div id="idea_progress_block">
			      <% if user_signed_in? && current_user.role?(User::ROLES[:org_admin]) &&
						      !@idea.organization_claimed_idea?(current_user) %>

              <div id="idea_progress_claim">
				        <%= link_to t('.take_ownership', :org => current_user.organization_users.first.organization.name),
						        ideas_claim_path(:idea_id => @idea.id, :organization_id => current_user.organization_users.first.organization_id),
						        :class => 'idea_progress_btn fancybox' %>
              </div>
			      <% end %>

            <% orgs = @idea.claimed_by_organizations(current_user)
              if orgs && !orgs.empty? %>

                <div class="idea_progress clear">
                  <% orgs.each_with_index do |org, index| %>
	                  <% progresses = @idea.organization_progress(org.id, current_user) %>
			              <% progress_in_locale = true
					              progresses.each do |progress|
						              if !progress.in_locale?(I18n.locale)
							              progress_in_locale = false
							              break
						              end
					              end
			              %>

                  <div class="idea_progress_left">
                    <h3><%= t('.claimed_by') %></h3>


                    <% if !progress_in_locale %>
                      <%= link_to t('.translate_org_progress'), google_translate_url(t('app.common.placeholder')),
                        :class => "translate_org_progress", :target => :blank,
                        :"data-id" => index %>
                    <% end %>

                    <ul id="<%= "org_progress_#{index}" %>">
      					      <% progresses.each do |progress| %>
                        <li>
    								      <strong><%= l progress.progress_date, :format => :long if progress.progress_date %>: </strong>
    								      <%= progress.idea_status.name if progress.idea_status_id %>
                          <% if user_signed_in? && progress.organization_wrote_progress?(current_user) && !progress.is_public %>
                            <span class="private_item"><%= t('app.common.is_private')%></span>
                          <% end %>
			                    <% if user_signed_in? && current_user.role?(User::ROLES[:org_admin]) &&
			                          !current_user.organization_users.blank? &&
						                    @idea.organization_claimed_idea?(current_user) %>

				                    <%= link_to t('.edit_progress'),
						                    ideas_edit_progress_path(progress.id),
						                    :class => 'idea_progress_btn fancybox' %>
			                    <% end %>

                           <div class="progress_text">
          						      <%= simple_format progress.explaination %>
                          </div>
                        </li>
                      <% end %>
                    </ul>

                  </div>
                  <div class="idea_progress_right">
                    <div class="idea_progress_logo">
                      <% if org.logo_file_name %>
                        <%= image_tag org.logo.url, :alt => org.name %>
                      <% else %>
                        <%= org.name %>
                      <% end %>
                    </div>
                    <% last_progress = progresses.first %>

			              <% if user_signed_in? && current_user.role?(User::ROLES[:org_admin]) &&
			                    current_user.organization_users && !current_user.organization_users.empty? &&
						              @idea.organization_claimed_idea?(current_user) &&
						              !last_progress.is_completed %>
                      <div class="idea_progress_add_item">
				                <%= link_to t('.progress_update'),
						                ideas_progress_update_path(:idea_id => @idea.id, :organization_id => current_user.organization_users.first.organization_id),
						                :class => 'idea_progress_btn fancybox' %>
                      </div>
			              <% end %>

                    <div class="progress_status">
                      <span><%= t('.status')%>:</span>
                      <% if last_progress.is_completed %>
                        <%= last_progress.idea_status.name %>
                      <% else %>
                        <%= t('filters.ideas.filter.in_progress') %>
                      <% end %>
                    </div>

                    <% if last_progress.is_completed && !last_progress.url.blank? %>
                      <div class="progress_complete">
                        <%= link_to t('.news_url'), last_progress.url, :target => :blank %>
                      </div>
                    <% end %>

                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="idea_sidebar" class="side_block">
      <div id="source">
        <ul>
          <li id="idea_author">
            <div class="sidebar_heading"><%= "#{t('app.common.author')}: "%></div>
					  <div class="val">
              <%= link_to user_ideas_path(@idea.user.permalink, remove_unwanted_params(@param_options)) do %>
                <%= @idea.user.nickname %>
                <br />
          			<%= image_tag @idea.user.avatar, :id => 'user_avatar' if @idea.user.avatar %>
              <% end %>
					  </div>
          </li>
          <li>
            <span class="sidebar_heading"><%= "#{t('app.common.category')}: "%></span>
            <span class="val">
              <% @idea.idea_categories.each_with_index do |cat, index| %>
                <% x = link_to cat.category.name, ideas_path(remove_unwanted_params(merge_idea_params([{:key => :category, :value => cat.category.permalink}]), true)) %>
                <% if index != @idea.idea_categories.length-1 %>
                  <%= x + ", "%>
                <% else %>
                  <%= x %>
                <% end %>
              <% end %>
            </span>
          </li>
        </ul>
      </div>

      <div id="share">
        <div class="social-links clear">
          <span class="sidebar_heading"><%= t('app.common.share'); %>: </span>
          <div>
				    <%= link_to(image_tag("share_fb.png"),
							    "http://www.facebook.com/share.php?u=#{current_url(true)}",
							    :title => "facebook",	:target => "_blank") %>
				    <%= link_to(image_tag("share_twitter.png"),
							    "https://twitter.com/share?url=#{current_url(true)}", :title => "twitter",
							    :target => "_blank") %>
				    <%= link_to(image_tag("share_gplus.png"),
							    "https://plusone.google.com/_/+1/confirm?hl=en&url=#{current_url(true)}", :title => "google+",
							    :target => "_blank") %>
				  </div>
			  </div>
      </div>
    </div>
 
  </div>

  <div id="idea_row4" class="row-fluid clear">

	  <div class="main_block clear">
		  <h3 class="comments_count">
        <span class="comment_count_text">
				  <%= "#{t('app.common.comments')}: "%>
          <span class="comment_count_number"><%=@idea.fb_count%></span>
        </span>
		  </h3>
		  <div class="fb-comments" data-href="<%= current_url%>" data-num-posts="5" data-width="470"></div>
	  </div>

  </div>

  <div id="idea_row5" class="row-fluid">
    <div id="previous_idea" class="span1">
	    <%= link_to(image_tag('nav_previous.png', :alt => '<'), idea_previous_path(@param_options))%>
    </div>

    <div class="main_block clear">
      &nbsp;
    </div>

    <div id="next_idea" class="span1">
	    <%= link_to(image_tag('nav_next.png', :alt => '>'), idea_next_path(@param_options))%>
    </div>
  </div>
</div>










