<% title @user.nickname %>
<% title_image @user.avatar if @user.avatar %>
<!--
<% if !@user.organization_users.empty? %>
	<h2><%= OrganizationUser.human_attribute_name(:organization) %></h2>
	<div style="display: inline-block;">
		<% if @user.organization_users.first.organization.logo_file_name %>
			<%= link_to(image_tag(@user.organization_users.first.organization.logo.url),
					organization_path(@user.organization_users.first.organization_id)) %>
		<% else %>
			<%= link_to @user.organization_users.first.organization.name,
						organization_path(@user.organization_users.first.organization_id) %>
		<% end %>
	</div>
	<div style="display: inline-block;">
		<%= link_to t('helpers.links.website'), @user.organization_users.first.organization.url, :class => 'btn btn-mini' if @user.organization_users.first.organization.url %>
	</div>
<% end %>
-->

<%= render :partial => "shared/ideas_block", :object => @ideas %>
