<% title t('.title') %>

	<div class="row">
		<div class="span4">
			<ul class="standard">
				<li>
				 <%= link_to t('.categories'), admin_categories_path %>
				</li>
				<li>
				 <%= link_to t('.stories'), admin_stories_path %>
				</li>
				<li>
				 <%= link_to t('.story_types'), admin_story_types_path %>
				</li>
				<li>
				 <%= link_to t('.pages'), admin_pages_path %>
				</li>
				<li>
				 <%= link_to t('.users'), admin_users_path %>
				</li>
			</ul>
		</div>
	</div>
