<% if @idea && @org %>
	<% if params[:action].downcase == "claim" %>
		<% title t('.title_claim') %>
	<% elsif params[:action].downcase == "edit" || params[:action].downcase == 'update' %>
		<% title t('.title_edit_progress') %>
	<% else %>
		<% title t('.title_progress_update') %>
	<% end %>

	<p>
		<% if @org.logo_file_name %>
			<%= image_tag @org.logo.url %>
		<% else %>
			<%= @org.name %>
		<% end %>
	</p>

	<% if params[:action].downcase == 'edit' || params[:action].downcase == 'update'
			url = update_progress_path(@idea_progress.id)
			method = 'put'
	   else
			url = :create_progress
			method = 'post'
	   end %>

	<%= semantic_form_for @idea_progress, :url => url, :method => method do |f| %>
		<%= f.error_messages %>
		<%= f.inputs do %>
			<%= f.hidden_field :idea_id, :value => @idea.id %>
			<%= f.hidden_field :organization_id, :value => @org.id %>

			<%= f.input :progress_date, :as => :string, :input_html => {:size => 20} %>
			<%= f.input :idea_status, :collection => IdeaStatus.sorted, :include_blank => false %>
			<%= f.input :explaination, :as => :text, :input_html => {:rows => 4, :cols => 100} %>
      <% if user_signed_in? && current_user.role?(User::ROLES[:org_admin])%>
				<%= f.input :is_private, :as => :select, :include_blank => false  %>
      <% end %>
			<%= f.input :url %>

		<% end %>

		<% if user_signed_in? %>
			<%= f.submit nil, :class => 'btn btn-primary' %>
		<% end %>
	<% end %>

<% else %>
	<% title t('.title_error') %>

	<p>
		<%= t('.error') %>
	</p>

<% end %>
