<%- model_class = Story -%>
<%- model_class_trans = StoryTranslation -%>
<%= page_title t '.title', :default => model_class.model_name.human.pluralize %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class_trans.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:published_date) %></th>
      <th><%= model_class.human_attribute_name(:published) %></th>
      <th><%= model_class.human_attribute_name(:story_type) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= link_to story.title, admin_story_path(story) %></td>
        <td><%= l story.published_date, :format => :long if story.published_date %></td>
        <td><%= story.published %></td>
        <td><%= story.story_type.name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_story_path(story), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_story_path(story),
                      :method => :delete,
											:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="form-actions">
	<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_story_path,
            :class => 'btn btn-primary' %>
	<%= link_to t('helpers.links.admin'), admin_path,
  :class => 'btn' %>
</div>
