<% if @visualizations && !@visualizations.empty?%>
  <div class="grid_items">
    <!--<div class="grid_visualization_row clear">-->
  	<% @visualizations.each_with_index do |visualization, index| %>

  		  <div class="grid_visualization_item">
  		    <div class="visual">
  		      <%= link_to(image_tag(visualization.visual.url(:thumb)),
  							create_visual_path(visualization.id, @user_in_org, organization_id=params[:id])) if visualization.visual_file_name %>
  		    </div>
  		    <div class="title">
  		      <h2><%= link_to visualization.title, create_visual_path(visualization.id, @user_in_org, organization_id=params[:id]) %></h2>
  					<% if !visualization.published %>
  					<div class="not_published"><%= t('app.common.not_published') %></div>
  					<% end %>
  					<div class="item_footer clear">
  						<div class="comment_count">
  							<%= "#{t('app.common.comments')}:" %>
  							<fb:comments-count href="<%= full_url(visual_path(visualization)) %>"></fb:comments-count>
  						</div>
  						<div class="like_count">
  							<%= "#{t('app.common.likes')}:" %>
  							<%= visualization.overall_votes %>
  						</div>
  					</div>
  					<% if @user_in_org && params[:controller] == 'organizations' %>
  						<div>
  					    <%= link_to t('.edit', :default => t("helpers.links.edit")),
  					                edit_organization_visualization_path(params[:id], visualization),
  													:class => 'btn btn-mini' %>
  					    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
  					                organization_visualization_path(params[:id], visualization.id),
  					                :method => :delete,
  													:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
  					                :class => 'btn btn-mini btn-danger' %>
  						</div>
  					<% end %>
  		    </div>
  		  </div>

  		<% if false && (index + 1) % 4 == 0 %>
  		  </div>
        <div class="grid_visualization_row clear">
  		<% end %>
  	<% end %>
  	<!--</div>-->

  </div>
<% else %>
  <div id="no_records">
    <%= t('app.msgs.no_visual_records')%>
  </div>
<% end %>
