<% if @ideas && !@ideas.empty?%>

  <% if !@ajax_call %>
    <div class="grid_items clear">
  <% end %>

    <div id="throbber">
      <img src="/assets/throbber.svg" />
    </div>

  	<% @ideas.each do |idea| %>
		  <div class="list_idea_item">
	      <h2>
          <%= link_to t('.idea_title', :number => idea.id), idea_path(idea.id, @param_options) %>
          <% if user_signed_in? && !idea.is_public &&
					  (idea.organization_submitted_idea?(current_user) || idea.organization_claimed_idea?(current_user)) %>

	          <span class="private_item"><%= t('app.common.is_private')%></span>
          <% end %>
        </h2>
  			<h3><%= l idea.created_at, :format => :long if idea.created_at %></h3>
				<div class="count_block clear">
          <ul>
            <li>
              <span class="heart" title="<%= t('filters.ideas.organize.likes')%>">❤</span>
              <%= idea.overall_votes %>
            </li>
            <li>
              <%= image_tag('view_icon12.png', :alt => t('filters.ideas.organize.views'), :title => t('filters.ideas.organize.views')) %>
              <%= idea.impressions_count %>
            </li>
            <li>
              <%= image_tag('comments_icon12.png', :alt => t('app.common.comments'), :title => t('app.common.comments')) %>
              <%= idea.fb_count %>
            </li>
          </ul>
				</div>

        <div class="item_text">          
          <%= auto_link(truncate(idea.explaination, :length => 150, :separator => ' '), :urls, :target => "_blank") %>
        </div>
  		</div>
  	<% end %>
  <% if !@ajax_call %>
    </div>
  <% end %>
<% else %>
  <div id="no_records">
    <%= t('app.msgs.no_idea_records')%>
  </div>
<% end %>

