<% if @visualizations && !@visualizations.empty?%>

  <% if !@ajax_call %>
    <div class="grid_items clear">
  <% end %>

  	<% @visualizations.each do |visualization| %>
  	<div class="list_visualization_item clear">
  		<div class="visual">
	      <%  if !visualization.image_file_name.blank? %>
    		  <%= link_to(image_tag(visualization.image.url(:thumb, false)),
								create_visual_path(visualization.permalink, @user_in_org, organization_id=params[:id])) %>
	      <% else %>
    		  <%= link_to(image_tag('image_placeholder.png'),
								create_visual_path(visualization.permalink, @user_in_org, organization_id=params[:id])) %>
	      <% end %>
  		</div>
  		<div class="content">
  		  <h2><%= link_to visualization.title, create_visual_path(visualization.permalink, @user_in_org, organization_id=params[:id]) %></h2>
  			<h3><%= l visualization.published_date, :format => :no_time if visualization.published_date %></h3>
  			<% if !visualization.published %>
  			<div class="not_published"><%= t('app.common.not_published') %></div>
  			<% end %>
  		  <%= simple_format truncate(visualization.explanation, :length => 300, :separator => ' ') %>
  		</div>
  		<div class="item_footer clear">
  			<div class="comment_count">
  				<%= "#{t('app.common.comments')}:" %>
  				<fb:comments-count href="<%= full_url(visualization_path(visualization.permalink)) %>"></fb:comments-count>
  			</div>
  			<div class="like_count">
  				<%= "#{t('app.common.likes')}:" %>
  				<%= visualization.overall_votes %>
  			</div>
  			<% if @user_in_org && params[:controller] == 'organizations' %>
  				<div>
  			    <%= link_to t('.edit', :default => t("helpers.links.edit")),
  			                edit_organization_visualization_path(params[:id], visualization.permalink),
  											:class => 'btn btn-mini' %>
  			    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
  			                organization_visualization_path(params[:id], visualization.permalink),
  			                :method => :delete,
  											:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
  			                :class => 'btn btn-mini btn-danger' %>
  				</div>
  			<% end %>
  		</div>
  	</div>
  	<% end %>
  <% if !@ajax_call %>
    </div>
  <% end %>
<% else %>
  <div id="no_records">
    <%= t('app.msgs.no_visual_records')%>
  </div>
<% end %>
