<div id="visualization_row1" class="row-fluid">
  <div class="span1">
    &nbsp;
  </div>
  <div id="main_block" class="span6 clear">
		<%= page_title @visualization.title %>
    <div id="visualization_date">
			<% if @visualization.published %>
	      <%= l @visualization.published_date, :format => :long if @visualization.published_date %>
			<% else %>
				<div class="not_published"><%= t('app.common.not_published') %></div>
			<% end %>
    </div>
    <div class="vote">
		  <%= votes_cont(@visualization) %>
    </div>
  </div>
  <div class="span4">
    &nbsp;
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>

<div id="visualization_row2" class="row-fluid">
  <div class="span1">
    &nbsp;
  </div>
  <div id="main_block" class="span6">
    <div id="visual">
			<% if @visualization.visualization_type_id == Visualization::TYPES[:interactive] %>
		    <%= link_to(image_tag(@visualization.visual.url(:medium)), url_for(params.merge(:view => 'interactive'))) %>
			<% else %>
		    <%= link_to(image_tag(@visualization.visual.url(:medium)), @visualization.visual.url(:large), :class => 'fancybox_visual') if @visualization.visual_file_name %>
			<% end %>
    </div>
  </div>
  <div id="visualization_sidebar" class="span4">
    <% if @visualization.explanation %>
    <div id="explanation">
      <%= simple_format @visualization.explanation %>
    </div>
    <% end %>

    <div id="source">
      <ul>
        <li>
          <%= "#{t('.reporter')}: <span class=\"val\">#{@visualization.reporter}".html_safe %>
        </li>
        <li>
          <%= "#{t('.designer')}: <span class=\"val\">#{@visualization.designer}".html_safe %>
        </li>
        <li>
          <%= "#{t('.data_source')}: <span class=\"val-source\">#{@visualization.data_source_name}".html_safe %>
          <%= link_to t('helpers.links.website'), @visualization.data_source_url, :target => "blank", :class => 'btn btn-mini' if @visualization.data_source_url && !@visualization.data_source_url.empty? %>
        </li>
        <li>
          <%= "#{t('.data_set')}: " %>
          <%= link_to t('helpers.links.download'), @visualization.dataset.url, :class => 'download' if @visualization.dataset_file_name%>
        </li>
        <li>
          <%= "#{t('.category')}: <span class=\"val\">#{@visualization.visualization_categories.map{|x| x.category.name}.join(', ')}</span>".html_safe %>
        </li>
        <li>
          <%= "#{t('.type')}: <span class=\"val\">#{visualization_type_name(@visualization.visualization_type_id)}".html_safe %>
        </li>
      </ul>
    </div>

    <div id="share">
      <div class="social-links clear">
				<%= link_to(image_tag("share_fb.png"),
							"http://www.facebook.com/share.php?u=#{current_url(true)}",
							:title => "facebook",	:target => "_blank") %>
				<%= link_to(image_tag("share_twitter.png"),
							"https://twitter.com/share?url=#{current_url(true)}", :title => "twitter",
							:target => "_blank") %>
				<%= link_to(image_tag("share_gplus.png"),
							"https://plusone.google.com/_/+1/confirm?hl=en&url=#{current_url(true)}", :title => "google+",
							:target => "_blank") %>
				<%= link_to(image_tag("share_pinterest.png"),
							"http://pinterest.com/pin/create/button/?url=#{current_url(true)}&media=#{image_path(@visualization.visual.url(:thumbnail))}&description=#{@visualization.title}", :title => "pinterest",
							:onclick => "window.open(this.href); return false;") %>
			</div>
			<div class="embed">
			  <span>Embed:</span>
			  <textarea readonly onfocus="this.select();" onmouseup="return false;">lorem ipsum dolor sit amet</textarea>
			</div>
    </div>
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>

<div id="visualization_row3" class="row-fluid">
  <div class="span1">
    &nbsp;
  </div>
  <div id="main_block" class="span6 clear">
    <div class="vote">
		  <%= votes_cont(@visualization) %>
    </div>
  </div>
  <div class="span4">
    &nbsp;
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>

<div id="visualization_row4" class="row-fluid clear">
  <div class="span1">
    &nbsp;
  </div>
  <div id="main_block" class="span6 clear">
		<h3>
			<%= "#{t('app.common.comments')}:" %>
			<fb:comments-count href="<%= full_url(visualization_path(@visualization.permalink)) %>"></fb:comments-count>
		</h3>
		<div class="fb-comments" data-href="<%= current_url%>" data-num-posts="2" data-width="470"></div>
  <div class="span4">
    &nbsp;
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>
