<div id="visualization_row1" class="row-fluid">
  <div class="span1">
    &nbsp;
  </div>
  <div id="main_block" class="span6 clear">
		<%= page_title @visualization.title %>
    <div id="visualization_date">
			<% if @visualization.published %>
	      <%= l @visualization.published_date, :format => :no_time if @visualization.published_date %>
			<% else %>
				<div class="not_published"><%= t('app.common.not_published') %></div>
			<% end %>
    </div>
    <div class="vote">
			<% if params[:controller] == 'visuals' %>
				<%= render 'shared/vote' %>
			<% end %>
    </div>
  </div>
  <div class="span4">
    &nbsp;
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>

<div id="visualization_row2" class="row-fluid">
  <div class="span1">
    &nbsp;
  </div>
  <div id="main_block" class="span6">
    <div id="visual">
			<% if @visualization.visualization_type_id == Visualization::TYPES[:interactive] %>
		    <%= link_to(image_tag(@visualization.image.url(:medium, false)), url_for(params.merge(:view => 'interactive'))) %>
			<% else %>
		    <%= link_to(image_tag(@visualization.image.url(:medium, false)), @visualization.image.url(:large, false), :class => 'fancybox_visual') if !@visualization.image_file_name.blank? %>
			<% end %>
    </div>
  </div>
  <div id="visualization_sidebar" class="span4">
    <% if @visualization.explanation %>
    <div id="explanation">
      <%= simple_format @visualization.explanation %>
    </div>
    <% end %>

    <div id="source">
      <ul>
        <li>
          <%= "#{t('.organization')}: "%>
					<span class="val">
						<%= link_to @visualization.organization.name, organization_path(@visualization.organization.permalink) %>
					</span>
        </li>
        <li>
          <%= "#{t('.reporter')}: "%>
					<span class="val">
						<%= @visualization.reporter %>
					</span>
        </li>
        <li>
          <%= "#{t('.designer')}: "%>
					<span class="val">
						<%= @visualization.designer %>
					</span>
        </li>
        <li>
          <%= "#{t('.data_source')}: "%>
					<span class="val-source">
            <% if !@visualization.datasources.blank? %>
              <ul class="datasource_list">
              <% @visualization.datasources.each_with_index do |source, index| %>
						    <% if !source.name.blank? %>
                  <li>
						      <% if !source.url.blank? %>
		                <%= link_to source.name, source.url, :target => "blank" %>
						      <% else %>
							      <%= source.name %>
						      <% end %></li>
					      <% end %>
              <% end %>
              </ul>
            <% end %>
					</span>
        </li>
        <li>
          <%= "#{t('.data_set')}: " %>
          <%= link_to t('helpers.links.download'), @visualization.dataset.url, :class => 'download' if @visualization.dataset_file_name%>
        </li>
        <li>
          <%= "#{t('.category')}: "%>
          <span class="val">
          <% @visualization.visualization_categories.each_with_index do |cat, index| %>
            <% x = link_to cat.category.name, visuals_path(:category => cat.category.permalink) %>
            <% if index != @visualization.visualization_categories.length-1 %>
              <%= x + ", "%>
            <% else %>
              <%= x %>
            <% end %>
          <% end %>
          </span>
        </li>
        <li>
          <%= "#{t('.type')}:"%>
						<span class="val">
							<% type_name = visualization_type_name(@visualization.visualization_type_id) %>
							<%= link_to type_name, visuals_path(:type => type_name.downcase) %>
						</span>
        </li>
      </ul>
    </div>

    <div id="share">
      <div class="social-links clear">
        <span><%= t('app.common.share'); %>: </span>
        <div>
				  <%= link_to(image_tag("share_fb.png"),
							  "http://www.facebook.com/share.php?u=#{current_url(true)}",
							  :title => "facebook",	:target => "_blank") %>
				  <%= link_to(image_tag("share_twitter.png"),
							  "https://twitter.com/share?url=#{current_url(true)}", :title => "twitter",
							  :target => "_blank") %>
				  <%= link_to(image_tag("share_gplus.png"),
							  "https://plusone.google.com/_/+1/confirm?hl=en&url=#{current_url(true)}", :title => "google+",
							  :target => "_blank") %>
				  <%= link_to(image_tag("share_pinterest.png"),
							"http://pinterest.com/pin/create/button/?url=#{current_url(true)}&media=#{full_url(image_path(@visualization.image.url(:medium, false)))}&description=#{@visualization.title}", :title => "pinterest",
							:onclick => "window.open(this.href); return false;") %>
				</div>
			</div>
			<div class="embed">
			  <span><%= t('.embed')%>:</span>
			  <textarea readonly onfocus="var _self = this; setTimeout(function (){ _self.select(); }, 10);"
					onmouseup="return false;"><%= link_to(
						image_tag(full_url(@visualization.image.url(:medium, false)),
							:title => @visualization.title,
							:alt => @visualization.title),
						full_url(url_for(params.merge(:from_embed => true))),
						:title => t('.embed_link_title'),
						:target => :blank) %>
					<br />
					<%= link_to t('app.common.app_name'), full_url(root_path(:from_embed => true)), :target => :blank %>
				</textarea>
			</div>
    </div>
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>

<div id="visualization_row3" class="row-fluid">
  <div class="span1">
    &nbsp;
  </div>
  <div id="main_block" class="span6 clear">
    <div class="vote">
			<% if params[:controller] == 'visuals' %>
				<%= render 'shared/vote' %>
			<% end %>
    </div>
  </div>
  <div class="span4">
    &nbsp;
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>

<% if params[:controller] == 'visuals' %>
	<div id="visualization_row4" class="row-fluid clear">
		<div class="span1">
		  &nbsp;
		</div>
		<div id="main_block" class="span6 clear">
			<h3 class="comments_count">
				<%= "#{t('app.common.comments')}:" %>
				<fb:comments-count href="<%= full_url(visualization_path(@visualization.permalink)) %>"></fb:comments-count>
			</h3>
			<div class="fb-comments" data-href="<%= current_url%>" data-num-posts="2" data-width="470"></div>
		<div class="span4">
		  &nbsp;
		</div>
		<div class="span1">
		  &nbsp;
		</div>
	</div>
<% end %>
