<div class="visual">
  <% if visualization.image_file_name.present? %>
    <%= link_to create_visual_path(
                  visualization.permalink, 
                  user_in_org, 
                  params[:org]), 
                title: visualization.title,
                class: 'visualization-item-visual-link' do %>
    
      <% if visualization.type == :gifographic %>
      
        <%= image_tag(
              'image_placeholder.png', 
              alt: visualization.image_text, 
              class: 'js-is-gifographic',
              data: { gif_src: visualization.image.url(:thumb, false) }) %>
        
        <div class="hover_mask"></div>
        
        <%= image_tag "gifographic_hover.svg", class: 'hover_img' %>
      
      <% else %>
      
        <%= image_tag(
              visualization.image.url(:thumb, false), 
              alt: visualization.image_text) %>
        
        <div class="hover_mask"></div>
        
        <%= image_tag "#{visualization.type}_hover.png", class: 'hover_img' %>
        
      <% end %>
      
    <% end %>
    
  <% else %>
  
    <%= link_to create_visual_path(
                  visualization.permalink, 
                  user_in_org, 
                  params[:org]), 
                title: visualization.title,
                class: 'visualization-item-visual-link' do %>
    
      <%= image_tag(
            'image_placeholder.png', 
            alt: visualization.image_text) %>
      
      <div class="hover_mask"></div>
      
      <!-- Only gifographic has svg hover image; others are png -->
      <% if visualization.type == :gifographic %>
        <%= image_tag "#{visualization.type}_hover.svg", class: 'hover_img' %>
      <% else %>
        <%= image_tag "#{visualization.type}_hover.png", class: 'hover_img' %>
      <% end %>
      
    <% end %>
    
  <% end %>
</div>