<%- model_class = Visualization -%>
<%- model_class_trans = VisualizationTranslation -%>

<%
  if params[:action] == 'new' || params[:action] == 'create'
    path = organization_visualizations_path(params[:organization_id])
  else
    path = organization_visualization_path(params[:organization_id], params[:id])
  end
%>
<%= semantic_nested_form_for([@organization, @visualization],
      :url => path,
      :html => { :class => 'form-horizontal precrop' }) do |f| %>
		<%= f.error_messages %>


	<% if @visualization.id.nil? %>

		<div id="fields-panel">
			<%= f.inputs do %>
				<%= f.hidden_field :organization_id ,	:value => @organization.id %>

        <div class="radio control-group required" id="visualization_visualization_type_id_input">
          <label class=" control-label"><%= model_class.human_attribute_name(:visualization_type_id) %><abbr title="<%= t('formtastic.required') %>">*</abbr></label>
          <div class="choices controls">
            <% visualization_type_collection.each do |type| %>
              <label class="choice radio" for="visualization_visualization_type_id_<%=type[1]%>">
                <% checked = @visualization.visualization_type_id.to_s == type[1].to_s ? 'checked=checked' : '' %>
                <input <%= checked %> id="visualization_visualization_type_id_<%=type[1]%>" name="visualization[visualization_type_id]" type="radio" value="<%=type[1]%>">
                <%=type[0]%>
              </label>
            <% end %>
          </div>
        </div>

        <div class="check_boxes control-group required" id="visualization_languages_internal_input">
          <label class=" control-label"><%= model_class.human_attribute_name(:languages_internal) %><abbr title="<%= t('formtastic.required') %>">*</abbr></label>
          <input id="visualization_languages_internal_none" name="visualization[languages_internal][]" type="hidden" value="">
          <div class="choices controls">
            <% I18n.available_locales.each do |locale| %>
              <label class="choice checkbox" for="visualization_languages_internal_<%=locale%>">
                <% checked = @visualization.languages_internal.include?(locale.to_s) ? 'checked=checked' : '' %>
                <input <%= checked %> id="visualization_languages_internal_<%=locale%>" name="visualization[languages_internal][]" type="checkbox" value="<%=locale%>">
                <%= I18n.t("app.language.#{locale}") %>
              </label>
            <% end %>
          </div>
        </div>

				<% @visualization.visualization_translations.sort{|x,y| x.locale <=> y.locale}.each do |trans| %>
					<%= f.fields_for :visualization_translations, trans do |translation| %>

						<div id="form-<%= trans.locale %>" class="multilanguage" data-locale="<%= trans.locale%>">
							<h3><%= t("app.language.#{trans.locale}") %></h3>

							<%= translation.input :title %>

              <div class="trans_visual_file" style="display: none">
								<%= translation.fields_for :image_file do |upload| %>
	      				  <%= upload.hidden_field :visualization_type_id, :value => @visualization.visualization_type_id %>
	      				  <%= upload.input :file, :as => :file, :input_html => {accept:".jpg,.jpeg,.png"} %>

								<% end %>
      				</div>

              <div class="trans_interactive_url" style="display: none">
      				<%= translation.input :interactive_url, :as => :url %>
      				</div>

              <div class="trans_video_url js-generate-video-embed" style="display: none">
      				<%= translation.input :video_url, :as => :url %>
      				</div>

              <div class="js-container-receive-video-embed"></div>

              <%= translation.hidden_field(
                    :video_embed,
                    class: 'js-hidden-input-receive-video-embed'
                  ) %>

							<%= translation.hidden_field :locale , :value => trans.locale %>
						</div>

					<% end %>
				<% end %>

			<% end %>
		</div>

	<% elsif !@locale_to_reset.blank? %>

		<% trans = @visualization.visualization_translations.select{|x| x.locale == @locale_to_reset}.first %>
		<%= f.fields_for :visualization_translations, trans do |translation| %>
				<%= translation.hidden_field :reload_file, :value => 'true' %>

      <% if @visualization.visualization_type_id == Visualization::TYPES[:infographic] ||
            @visualization.visualization_type_id == Visualization::TYPES[:fact] ||
            @visualization.visualization_type_id == Visualization::TYPES[:comic] %>
  			<h3><%= t('.reset_file', :language => t("app.language.#{@locale_to_reset}")) %></h3>
			  <%= translation.fields_for :image_file do |upload| %>
				  <%= upload.input :file, :as => :file, :input_html => {accept:".jpg,.jpeg,.png"} %>
			    <%= upload.hidden_field :reset_crop, :value => true %>
			    <%= upload.hidden_field :image_is_cropped, :value => false %>
			  <% end %>
      <% elsif @visualization.visualization_type_id == Visualization::TYPES[:interactive] %>
    			<h3><%= t('.reset_url', :language => t("app.language.#{@locale_to_reset}")) %></h3>
  				<%= translation.input :interactive_url, :as => :url %>
			    <%= translation.fields_for :image_file do |upload| %>
  			    <%= upload.hidden_field :reset_crop, :value => true %>
				    <%= upload.hidden_field :image_is_cropped, :value => false %>
          <% end %>
      <% end %>

		<% end %>

	<% elsif !@locale_to_crop.blank? %>

		<% trans = @visualization.visualization_translations.select{|x| x.locale == @locale_to_crop}.first %>
		<%= f.fields_for :visualization_translations, trans do |translation| %>

			<h3><%= t('.crop_image', :language => t("app.language.#{@locale_to_crop}")) %></h3>
			<%= translation.fields_for :image_file do |upload| %>
				<%= upload.hidden_field :image_is_cropped, :value => true %>
				<%= upload.hidden_field :redid_crop, :value => true %>
				<%= upload.hidden_field :crop_x %>
				<%= upload.hidden_field :crop_y %>
				<%= upload.hidden_field :crop_w %>
				<%= upload.hidden_field :crop_h %>
			<% end %>

			<div id="crop-panel">
				<h4><%= t('.preview')%>:</h4>
				<div class="preview">
					<%= image_tag trans.image.url(:large, false), :id => "cropbox_preview" %>
				</div>

				<hr />

				<%= image_tag trans.image.url(:large, false), :id => "cropbox" %>

			</div>
		<% end %>

  <% elsif @reset_lanaguages == true %>

    <div id="fields-panel">
      <%= f.hidden_field :reset_languages, :value => true %>
      <%= f.hidden_field :visualization_type_id , :value => @visualization.visualization_type_id %>
      <div class="check_boxes control-group required" id="visualization_languages_internal_input">
        <label class=" control-label"><%= model_class.human_attribute_name(:languages_internal) %><abbr title="<%= t('formtastic.required') %>">*</abbr></label>
        <input id="visualization_languages_internal_none" name="visualization[languages_internal][]" type="hidden" value="">
        <div class="choices controls">
          <% I18n.available_locales.each do |locale| %>
            <label class="choice checkbox" for="visualization_languages_internal_<%=locale%>">
              <% checked = @visualization.languages_internal.include?(locale.to_s) ? 'checked=checked' : '' %>
              <input <%= checked %> id="visualization_languages_internal_<%=locale%>" name="visualization[languages_internal][]" type="checkbox" value="<%=locale%>">
              <%= I18n.t("app.language.#{locale}") %>
            </label>
          <% end %>
        </div>
      </div>

      <% @visualization.visualization_translations.sort{|x,y| x.locale <=> y.locale}.each do |trans| %>
        <%= f.fields_for :visualization_translations, trans do |translation| %>

          <div id="form-<%= trans.locale %>" class="multilanguage" data-locale="<%= trans.locale%>">
            <h3><%= t("app.language.#{trans.locale}") %></h3>

            <%= translation.input :title %>
            <div class="trans_visual_file" style="display: none">
              <%= translation.fields_for :image_file do |upload| %>
                <%= upload.hidden_field :visualization_type_id, :value => @visualization.visualization_type_id %>
                <%= upload.input :file, :as => :file, :input_html => {accept:".jpg,.jpeg,.png"} %>

              <% end %>
            </div>
            <div class="trans_interactive_url" style="display: none">
            <%= translation.input :interactive_url, :as => :url %>
            </div>
            <%= translation.hidden_field :locale , :value => trans.locale %>
          </div>

        <% end %>
      <% end %>
    </div>

	<% else %>

		<div id="fields-panel">
			<div class="control-group">
				<div class="control-label">
					<%= model_class.human_attribute_name(:visualization_type_id)%>
				</div>
				<div class="controls">
					<%= @visualization.visualization_type_name %>
				</div>
			</div>
      <div class="control-group">
        <div class="control-label">
          <%= model_class.human_attribute_name(:languages)%>
        </div>
        <div class="controls">
          <%= @visualization.languages.split(',').map{|x| I18n.t("app.language.#{x}")}.join(', ') %>
          <%= link_to t('activerecord.attributes.visualization.reset_languages'), url_for(params.merge(:reset_languages => true)), :class => 'btn btn-mini' %>
        </div>
      </div>

		  <% @visualization.visualization_translations.sort{|x,y| x.locale <=> y.locale}.each do |trans| %>
				<%= f.fields_for :visualization_translations, trans do |translation| %>

					<div id="form-<%= trans.locale %>" class="multilanguage">
						<h3><%= t("app.language.#{trans.locale}") %></h3>

						<%= translation.input :title %>

            <% if trans.video_url.present? %>
              <div class="control-group">
                <div class="control-label">
									<%= model_class_trans.human_attribute_name(:video_url)%>
								</div>
								<div class="controls">
									<%= link_to trans.video_url, trans.video_url, :target => :blank %>
								</div>
              </div>
            <% end %>

            <% if trans.video_embed.present? %>
              <div class="control-group">
                <div class="control-label">
                  <%= model_class_trans.human_attribute_name(:video_embed) %>
                </div>
                <div class="controls" id="embedded-video-<%= trans.locale %>">
                  <%= trans.video_embed.html_safe %>
                </div>
              </div>
            <% end %>

						<% if !trans.interactive_url.blank? %>
							<div class="control-group">
								<div class="control-label">
									<%= model_class_trans.human_attribute_name(:interactive_url)%>
								</div>
								<div class="controls">
									<%= link_to trans.interactive_url, trans.interactive_url, :target => :blank %>
								</div>
							</div>
						<% end %>

						<%= translation.fields_for :image_file do |upload| %>
							<div class="control-group">
								<div class="control-label">
									<%= ImageFile.human_attribute_name(:file)%>
								</div>
								<div class="controls">
									<%= image_tag trans.image.url(:thumb, false) if !trans.image_file_name.blank? %>
									<%# upload.input :reset_crop, :as => :select, :include_blank => false, :selected => false %>
                  <%= link_to t('activerecord.attributes.image_file.reset_crop'), url_for(params.merge(:reset_crop => trans.locale)), :class => 'btn btn-mini' %>
                  <% if @visualization.visualization_type_id == Visualization::TYPES[:infographic] ||
                        @visualization.visualization_type_id == Visualization::TYPES[:fact]  ||
                        @visualization.visualization_type_id == Visualization::TYPES[:comic] %>
                    <%= link_to t('activerecord.attributes.image_file.reset_file'), url_for(params.merge(:reset_file => trans.locale)), :class => 'btn btn-mini' %>
                  <% elsif @visualization.visualization_type_id == Visualization::TYPES[:interactive] %>
                    <%= link_to t('activerecord.attributes.image_file.reset_url'), url_for(params.merge(:reset_file => trans.locale)), :class => 'btn btn-mini' %>
                  <% end %>
								</div>
							</div>

						<% end %>

						<% if request.post? || request.put? || controller.action_name.downcase == 'edit' %>
							<%= translation.input :permalink,
									:hint => t('activerecord.attributes.visualization_translation.permalink_hint') %>
						<% end %>

						<% if @visualization.visualization_type_id != Visualization::TYPES[:fact] %>
  						<%= translation.input :explanation %>
            <% end %>

						<%= translation.input :visualization_text, :hint => t('activerecord.attributes.visualization_translation.visualization_text_hint') %>

            <% if @visualization.visualization_type_id == Visualization::TYPES[:video] %>
              <%= translation.input :researcher %>
            <% end %>

            <% if @visualization.visualization_type_id == Visualization::TYPES[:video] %>
              <%= translation.input :narrator %>
            <% end %>

            <% if @visualization.visualization_type_id == Visualization::TYPES[:video] %>
              <%= translation.input :producer %>
            <% end %>

            <% if @visualization.visualization_type_id == Visualization::TYPES[:video] %>
              <%= translation.input :director %>
            <% end %>

            <% if @visualization.visualization_type_id == Visualization::TYPES[:video] %>
              <%= translation.input :writer %>
            <% end %>

            <% if @visualization.visualization_type_id == Visualization::TYPES[:video] %>
              <%= translation.input :designer_animator %>
            <% end %>

            <% if @visualization.visualization_type_id == Visualization::TYPES[:video] %>
              <%= translation.input :sound_music %>
            <% end %>

						<% if @visualization.visualization_type_id != Visualization::TYPES[:fact] %>
  						<%= translation.input :reporter %>
            <% end %>

						<%= translation.input :designer %>

						<% if @visualization.visualization_type_id == Visualization::TYPES[:interactive] %>
  						<%= translation.input :developer %>
						<% end %>

	          <div class="nested_form_container">
							<div class="control-group">
								<div class="control-label">
									<%= t(".datasources_header") %>
								</div>
								<div class="controls">
		              <%= translation.fields_for :datasources %>
		              <p><%= translation.link_to_add t(".add_datasource"), :datasources, :class => "btn btn-mini btn-primary" %></p>
								</div>
							</div>
	          </div>

						<% if @visualization.visualization_type_id != Visualization::TYPES[:fact] %>
						  <%= translation.fields_for :dataset_file do |upload| %>
							  <%= upload.input :file, :as => :file %>
							  <div class="control-group">
								  <div class="controls">
									  <%= link_to t('helpers.links.existing_file'), @visualization.dataset.url, :class => 'btn' if @visualization.dataset_file_name %>
								  </div>
							  </div>

						  <% end %>
            <% end %>

						<%= translation.hidden_field :locale , :value => trans.locale %>
					</div>

				<% end %>
			<% end %>


			<%= f.inputs do %>

				<%= f.input :categories, :as => :check_boxes, :collection => @categories %>
				<%= f.input :published, :as => :radio %>
				<%= f.input :published_date, :as => :string, :input_html => {:size => 20} %>

        <% if current_user.role?(User::ROLES[:visual_promotion]) %>
				  <%= f.input :is_promoted, :as => :radio %>
        <% end %>
			<% end %>

		</div>

	<% end %>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                organization_path(params[:organization_id]), :class => 'btn btn-mini btn-warning' %>
  </div>
<% end %>
