<%= semantic_form_for([@organization, @visualization], :html => { :class => 'form-horizontal precrop' }) do |f| %>
		<%= f.error_messages %>

	<% if @visualization.id.nil? %>
		<div id="fields-panel">
			<%= f.inputs do %>
				<%= f.hidden_field :organization_id ,
							:value => @visualization.organization_id ? @visualization.organization_id : params[:organization_id] %>

				<%= f.input :visualization_type_id, :as => :select, :collection => visualization_type_collection %>

				<%= f.input :visual, :as => :file %>
				<%= image_tag @visualization.visual.url(:thumb), :id => 'visualization_thumbnail' if @visualization.visual_file_name %>

				<%= f.input :interactive_url, :as => :url %>

			<% end %>
		</div>
	<% elsif !@visualization.visual_is_cropped %>
		<%= f.hidden_field :visual_is_cropped, :value => true %>
		<%= f.hidden_field :crop_x %>
		<%= f.hidden_field :crop_y %>
		<%= f.hidden_field :crop_w %>
		<%= f.hidden_field :crop_h %>

		<div id="crop-panel">
			<h4>Preview:</h4>
			<div class="preview">
				<%= image_tag @visualization.visual.url(:large), :id => "cropbox_preview" %>
			</div>

			<hr />

			<%= image_tag @visualization.visual.url(:large), :id => "cropbox" %>

		</div>
	<% else %>
		<div id="fields-panel">
			<div>
				<p>
					<strong><%= Visualization.human_attribute_name(:visualization_type_id)%>:</strong>
					<%= @visualization.visualization_type_name %>
				</p>
				<% if !@visualization.interactive_url.blank? %>
				<p>
					<strong><%= Visualization.human_attribute_name(:interactive_url)%>:</strong>
					<%= link_to @visualization.interactive_url, @visualization.interactive_url, :target => :blank %>
				</p>
				<% end %>
				<p>
					<strong><%= Visualization.human_attribute_name(:visual)%>:</strong>
					<br />
					<%= image_tag @visualization.visual.url(:thumb) if @visualization.visual_file_name %>
				</p>
			</div>

		  <% @visualization.visualization_translations.sort{|x,y| x.locale <=> y.locale}.each do |trans| %>
				<%= f.fields_for :visualization_translations, trans do |translation| %>

					<div id="form-<%= trans.locale %>" class="multilanguage">
						<h3><%= t("app.language.#{trans.locale}") %></h3>

						<%= translation.input :title %>
						<%= translation.input :explanation %>
						<%= translation.input :reporter %>
						<%= translation.input :designer %>
						<%= translation.input :data_source_name %>
						<%= translation.hidden_field :locale , :value => trans.locale %>
					</div>

				<% end %>
			<% end %>


			<%= f.inputs do %>
				<%= f.input :data_source_url, :as => :url %>

				<%= f.input :categories, :as => :check_boxes, :collection => @categories %>

				<%= f.input :dataset, :as => :file %>
				<%= image_tag @visualization.dataset.url if @visualization.dataset_file_name %>

				<%= f.input :published, :as => :radio %>
				<%= f.input :published_date, :as => :string, :input_html => {:size => 20} %>
			<% end %>

		</div>

	<% end %>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-warning', :type => :reset, :value => t('helpers.links.reset'), :name => :reset %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                organization_path(params[:organization_id]), :class => 'btn' %>
  </div>
<% end %>
