<div id="fields-panel">
  <div class="control-group">
    <div class="control-label">
      <%= model_class.human_attribute_name(:visualization_type_id)%>
    </div>
    <div class="controls">
      <%= @visualization.visualization_type_name %>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
      <%= model_class.human_attribute_name(:languages)%>
    </div>
    <div class="controls">
      <%= @visualization.languages.split(',').map{|x| I18n.t("app.language.#{x}")}.join(', ') %>
      <%= link_to t('activerecord.attributes.visualization.reset_languages'), url_for(params.merge(:reset_languages => true)), :class => 'btn btn-mini' %>
    </div>
  </div>

  <% @visualization.visualization_translations.sort{|x,y| x.locale <=> y.locale}.each do |trans| %>
    <%= f.fields_for :visualization_translations, trans do |translation| %>

      <div id="form-<%= trans.locale %>" class="multilanguage">
        <h3><%= t("app.language.#{trans.locale}") %></h3>

        <%= translation.input :title %>

        <% if trans.video_url.present? %>
          <div class="control-group">
            <div class="control-label">
              <%= model_class_trans.human_attribute_name(:video_url)%>
            </div>
            <div class="controls">

              <%= link_to trans.video_url, trans.video_url, :target => :blank %>

              <%= link_to t('.change_video_url',
                            language: t("app.language.#{trans.locale}")),
                          url_for(params.merge(
                            :locale_to_reset => trans.locale,
                            :video_url_reset => true)),
                          :class => 'btn btn-mini' %>

            </div>
          </div>
        <% end %>

        <% if trans.video_embed.present? %>
          <div class="control-group">
            <div class="control-label">
              <%= model_class_trans.human_attribute_name(:video_embed) %>
            </div>
            <div class="controls" id="embedded-video-<%= trans.locale %>">
              <%= trans.video_embed.html_safe %>
            </div>
          </div>
        <% end %>

        <% if !trans.interactive_url.blank? %>
          <div class="control-group">
            <div class="control-label">
              <%= model_class_trans.human_attribute_name(:interactive_url)%>
            </div>
            <div class="controls">
              <%= link_to trans.interactive_url, trans.interactive_url, :target => :blank %>
            </div>
          </div>
        <% end %>

        <%= translation.fields_for :image_file do |upload| %>
          <div class="control-group">
            <div class="control-label">
              <%= ImageFile.human_attribute_name(:file)%>
            </div>
            <div class="controls">

              <%= image_tag trans.image.url(:thumb, false) if !trans.image_file_name.blank? %>

              <% if @visualization.croppable? %>
                <%= link_to t('activerecord.attributes.image_file.reset_crop'), url_for(params.merge(:reset_crop => trans.locale)), :class => 'btn btn-mini' %>
              <% end %>

              <% if @visualization.visualization_type_id == Visualization::TYPES[:infographic] ||
                    @visualization.visualization_type_id == Visualization::TYPES[:fact]  ||
                    @visualization.visualization_type_id == Visualization::TYPES[:comic] ||
                    @visualization.visualization_type_id == Visualization::TYPES[:video] %>
                <%= link_to t('activerecord.attributes.image_file.reset_file'), url_for(params.merge(:reset_file => trans.locale)), :class => 'btn btn-mini' %>
              <% elsif @visualization.visualization_type_id == Visualization::TYPES[:interactive] %>
                <%= link_to t('activerecord.attributes.image_file.reset_url'), url_for(params.merge(:reset_file => trans.locale)), :class => 'btn btn-mini' %>
              <% end %>

            </div>
          </div>

        <% end %>

        <% if request.post? || request.put? || controller.action_name.downcase == 'edit' %>
          <%= translation.input :permalink,
              :hint => t('activerecord.attributes.visualization_translation.permalink_hint') %>
        <% end %>

        <% if @visualization.visualization_type_id != Visualization::TYPES[:fact] %>
          <%= translation.input :explanation %>
        <% end %>

        <%= translation.input :visualization_text, :hint => t('activerecord.attributes.visualization_translation.visualization_text_hint') %>

        <% if @visualization.visualization_type_id == Visualization::TYPES[:video] %>
          <%= translation.input :researcher %>
        <% end %>

        <% if @visualization.visualization_type_id == Visualization::TYPES[:video] %>
          <%= translation.input :narrator %>
        <% end %>

        <% if @visualization.visualization_type_id == Visualization::TYPES[:video] %>
          <%= translation.input :producer %>
        <% end %>

        <% if @visualization.visualization_type_id == Visualization::TYPES[:video] %>
          <%= translation.input :director %>
        <% end %>

        <% if @visualization.visualization_type_id == Visualization::TYPES[:video] %>
          <%= translation.input :writer %>
        <% end %>

        <% if [:video, :gifographic].include? @visualization.type %>
          <%= translation.input :designer_animator %>
        <% end %>

        <% if @visualization.visualization_type_id == Visualization::TYPES[:video] %>
          <%= translation.input :sound_music %>
        <% end %>

        <% if [:infographic, :interactive, :comic, :gifographic].include? @visualization.type %>
          <%= translation.input :reporter %>
        <% end %>

        <% if [:infographic, :interactive, :comic, :fact].include? @visualization.type %>
          <%= translation.input :designer %>
        <% end %>

        <% if @visualization.visualization_type_id == Visualization::TYPES[:interactive] %>
          <%= translation.input :developer %>
        <% end %>

        <div class="nested_form_container">
          <div class="control-group">
            <div class="control-label">
              <%= t(".datasources_header") %>
            </div>
            <div class="controls">
              <%= translation.fields_for :datasources %>
              <p><%= translation.link_to_add t(".add_datasource"), :datasources, :class => "btn btn-mini btn-primary" %></p>
            </div>
          </div>
        </div>

        <% if @visualization.visualization_type_id != Visualization::TYPES[:fact] %>
          <%= translation.fields_for :dataset_file do |upload| %>
            <%= upload.input :file, :as => :file %>
            <div class="control-group">
              <div class="controls">
                <%= link_to t('helpers.links.existing_file'), @visualization.dataset.url, :class => 'btn' if @visualization.dataset_file_name %>
              </div>
            </div>

          <% end %>
        <% end %>

        <%= translation.hidden_field :locale , :value => trans.locale %>
      </div>

    <% end %>
  <% end %>


  <%= f.inputs do %>

    <%= f.input :categories, :as => :check_boxes, :collection => @categories %>
    <%= f.input :published, :as => :radio %>
    <%= f.input :published_date, :as => :string, :input_html => {:size => 20} %>

    <% if current_user.role?(User::ROLES[:visual_promotion]) %>
      <%= f.input :is_promoted, :as => :radio %>
    <% end %>
  <% end %>

</div>
