<% trans = @visualization.visualization_translations.select{|x| x.locale == @locale_to_reset}.first %>

<%= f.fields_for :visualization_translations, trans do |translation| %>

  <% if @visualization.visualization_type_id == Visualization::TYPES[:infographic] ||
        @visualization.visualization_type_id == Visualization::TYPES[:fact] ||
        @visualization.visualization_type_id == Visualization::TYPES[:comic] ||
        @visualization.visualization_type_id == Visualization::TYPES[:video] %>

    <% if @visual_image_file_reset %>

      <h3>
        <%= t('.reset_file',
              :language => t("app.language.#{@locale_to_reset}")) %>
      </h3>

      <%= translation.hidden_field :reload_file, :value => 'true' %>

      <%= translation.fields_for :image_file do |upload| %>

        <%= upload.input :file, :as => :file, :input_html => {accept:".jpg,.jpeg,.png"} %>
        <%= upload.hidden_field :reset_crop, :value => true %>
        <%= upload.hidden_field :image_is_cropped, :value => false %>

      <% end %>

    <% elsif @video_url_reset %>

      <h3>
        <%= t('.change_video_url',
              language: t("app.language.#{@locale_to_reset}")) %>
      </h3>

      <div class="trans_video_url js-generate-video-embed">
        <%= translation.input :video_url, :as => :url %>
      </div>

      <div class="js-container-receive-video-embed"></div>

      <%= translation.hidden_field(
            :video_embed,
            class: 'js-hidden-input-receive-video-embed'
          ) %>

    <% end %>

  <% elsif @visualization.visualization_type_id == Visualization::TYPES[:interactive] %>
      <h3><%= t('.reset_url', :language => t("app.language.#{@locale_to_reset}")) %></h3>
      <%= translation.input :interactive_url, :as => :url %>

      <%= translation.hidden_field :reload_file, :value => 'true' %>

      <%= translation.fields_for :image_file do |upload| %>
        <%= upload.hidden_field :reset_crop, :value => true %>
        <%= upload.hidden_field :image_is_cropped, :value => false %>
      <% end %>
  <% end %>

<% end %>
