<%- model_class = Organization -%>
<%- model_class_trans = OrganizationTranslation -%>
<%= page_title t '.title', :default => model_class.model_name.human.pluralize %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class_trans.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:logo) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, admin_organization_path(organization) %></td>
        <td><%= image_tag organization.logo.url if organization.logo_file_name %></td>
        <td>
					<% if organization.url && !organization.url.empty? %>
						<%= link_to t('helpers.links.website'), organization.url, :target => "blank", :class => 'btn btn-mini' %></p>
					<% end %>
				</td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_organization_path(organization), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_organization_path(organization),
                      :method => :delete,
											:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
	<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_organization_path,
            :class => 'btn btn-primary' %>
	<%= link_to t('helpers.links.admin'), admin_path,
  :class => 'btn' %>
</div>
