<%= page_title t('.title') %>

<main>

  <%= link_to 'View Engagement by Visualization',
              admin_analytics_path(engagement_table: 'visuals'),
              class: 'btn' %>

  <%= link_to 'View Engagement by Category',
              admin_analytics_path(engagement_table: 'categories'),
              class: 'btn' %>

  <%= link_to 'View Engagement by Visualization Type',
              admin_analytics_path(engagement_table: 'visual_types'),
              class: 'btn' %>

  <%= render partial: "admin/analytics/engagement_tables/#{@engagement_table}" %>

</main>
