<%= page_title t('.title') %>

<main>

  <nav class='analytics-nav'>

    <p>
      <%= t '.nav.prompt' %>:
    </p>

    <ul class='nav nav-pills'>

      <li role="presentation" class='<%= 'active' if @engagement_table == 'visuals' %>'>
        <%= link_to t('.nav.visualization'),
                    admin_analytics_path(engagement_table: 'visuals') %>
      </li>

      <li role="presentation" class='<%= 'active' if @engagement_table == 'categories' %>'>
        <%= link_to t('.nav.category'),
                    admin_analytics_path(engagement_table: 'categories') %>
      </li>

      <li role="presentation" class='<%= 'active' if @engagement_table == 'visual_types' %>'>
        <%= link_to t('.nav.visualization_type'),
                    admin_analytics_path(engagement_table: 'visual_types') %>
      </li>

    </ul>

  </nav>


  <%= render partial: "admin/analytics/engagement_tables/#{@engagement_table}" %>

</main>
