<%= page_title t('.title') %>

<main>

  <nav class='analytics-nav'>

    <p>
      View Engagement By:
    </p>

    <ul class='nav nav-pills'>

      <li role="presentation" class='<%= 'active' if @engagement_table == 'visuals' %>'>
        <%= link_to 'Visualization',
                    admin_analytics_path(engagement_table: 'visuals'),
                    class: 'btn' %>
      </li>

      <li role="presentation" class='<%= 'active' if @engagement_table == 'categories' %>'>
        <%= link_to 'Category',
                    admin_analytics_path(engagement_table: 'categories'),
                    class: 'btn' %>
      </li>

      <li role="presentation" class='<%= 'active' if @engagement_table == 'visual_types' %>'>
        <%= link_to 'Visualization Type',
                    admin_analytics_path(engagement_table: 'visual_types'),
                    class: 'btn' %>
      </li>

    </ul>

  </nav>


  <%= render partial: "admin/analytics/engagement_tables/#{@engagement_table}" %>

</main>
