<section class='analytics-table'>

  <div class='page-header js-act-as-table-title'>

    <h2>
      Engagement by Visualization
    </h2>

  </div>

  <button id='OGyhmAd6EfCGBxLpuXvIgv45WwHwXIOxotESHMYw' class='btn dynatable-export'>
    <%= t '.export_button'%>
  </button>

  <table class='table js-dynatable' data-exportable-by-id='OGyhmAd6EfCGBxLpuXvIgv45WwHwXIOxotESHMYw'>

    <thead>
      <tr>

        <th>
          <%= t '.columns.title' %>
        </th>

        <th data-dynatable-column='views'>
          <%= t 'admin.analytics.engagement_table.columns.views' %>
        </th>

        <th data-dynatable-column='facebookShares'>
          <%= t 'admin.analytics.engagement_table.columns.facebook_shares' %>
        </th>

        <th data-dynatable-column='facebookEngagementRating'>
          <%= t 'admin.analytics.engagement_table.columns.facebook_engagement_rating' %>
        </th>

        <th data-dynatable-column='feradiLikes'>
          <%= t 'admin.analytics.engagement_table.columns.feradi_likes' %>
        </th>

        <th data-dynatable-column='feradiEngagementRating'>
          <%= t 'admin.analytics.engagement_table.columns.feradi_engagement_rating' %>
        </th>

        <th data-dynatable-column='overallEngagementRating'>
          <%= t 'admin.analytics.engagement_table.columns.overall_engagement_rating' %>
        </th>

      </tr>
    </thead>

    <tbody>

      <% @visualizations.each do |visualization| %>

        <tr>

          <th>
            <%= visualization.title %>
          </th>

          <th>
            <%= visualization.impressions_count %>
          </th>

          <th>
            <%= visualization.fb_likes %>
          </th>

          <th>
            <%= visualization.facebook_engagement_rating %>
          </th>

          <th>
            <%= visualization.overall_votes %>
          </th>

          <th>
            <%= visualization.feradi_engagement_rating %>
          </th>

          <th>
            <%= visualization.engagement_rating %>
          </th>

        </tr>

      <% end %>

    </tbody>

  </table>

</section>
