<div id="contact">

  <%#= page_title t('.title') %>

  <div class="header">
    <%= page_title 'C<span class="l1">O</span>NTA<span class="l2">C</span>T'.html_safe %>

    <div class="circles">
      <div class="d1"></div>
      <div class="d2"></div>
      <div class="d3"></div>
      <div class="d4"></div>
      <div class="d5"></div>
    </div>
  </div>

  <% if @email_sent %>

  <p>
  <%= t(".message_sent") %>
  </p>

  <% else %>

			  <div class="p" style="display: none;">
          <%= mail_to "info@feradi.info", nil, :encode => "hex", :subject => t('.email_subject'),
            :title => t('.email_us')%>
				  <br />
				  +995 032 214 29 26
				  <br />
				  <%= t('.address') %>
				  <hr />
			  </div>

	  <%= semantic_form_for @message, :url => contact_path do |f| %>
      <% if @message.errors.present? %>
        <div class="errorExplanation" id="errorExplanation">
          <h2><%= t('.error_title') %></h2>
        </div>
      <% end %>
		  <%# f.error_messages %>
		  <%= f.inputs do %>
			  <%= f.input :name, :label => false, :placeholder => t("activerecord.attributes.message.name") %>
			  <%= f.input :email, :label => false, :placeholder => t("activerecord.attributes.message.email"), :required => true %>
			  <%= f.input :message, :label => false, :placeholder => t("activerecord.attributes.message.message"), :required => true, :as => :text, :input_html => {:rows => 5, :value => @default_message_value.present? ? @default_message_value : ''} %>
		  <% end %>

    	<div>
    	  <%= f.submit t(".send"), :class => 'btn' %>
    	</div>

	  <% end %>
  <% end %>

</div>
