<%= content_for :head, auto_discovery_link_tag(:atom, visuals_path(:format => "atom")) %>

<div class="row-fluid">
	<div class="span10">
		<%= page_title t('.title') %>

		<div id="visual_list">
			<%= render @view_type %>
		</div>

		<%= link_to_next_page @visualizations, t('helpers.links.more'), :params => {:view => params[:view]}, :remote => true, :id=>"load_more_link" %>
	</div>
	<div id="get_involved_container" class="span2">
		<h2><%= t('.header_get_involved') %></h2>

		<div id="ideas">
			<h3><%= t('.header_ideas') %></h3>
			<p><%= t('.text_ideas') %></p>
			<%= link_to t('.button_ideas'), '#' %>
		</div>

		<div id="visuals">
			<h3><%= t('.header_visuals') %></h3>
			<p><%= t('.text_visuals') %></p>
			<%= link_to t('.button_visuals'), '#' %>
		</div>

		<div id="data">
			<h3><%= t('.header_data') %></h3>
			<p><%= t('.text_data') %></p>
			<%= link_to t('.button_data'), '#' %>
		</div>

	</div>
</div>
