<%= content_for :head, auto_discovery_link_tag(:atom, visuals_path(:format => "atom")) %>

<div class="">
	<div id="visual_list_container">
		<%= page_title t('.title') %>

		<div id="visual_list" class="index resp">
			<%= render @view_type %>
		</div>

		<a id="load_more_link" href="#" style="display: none;"><%= t('helpers.links.more') %></a>

      <div class="hide_for_crawler"><%= link_to all_visuals_path, all_visuals_path %></div>
	</div>
	<div id="get_involved_container">

    <iframe id="fb_iframe" src="//www.facebook.com/plugins/likebox.php?href=http://www.facebook.com/feradi.info&amp;width=230&amp;height=230&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=false" scrolling="no" frameborder="0" allowtransparency="true"></iframe>


		<h2><%= t('.header_get_involved') %></h2>
		<div id="get_involved">
			<p><%= t('.text_get_involved') %></p>
		</div>

		<div id="ideas">
			<h3><%= t('.header_ideas') %></h3>
			<p><%= t('.text_ideas') %></p>
			<%= link_to t('.button_ideas'), ideas_path %>
    </div>

<%
=begin %>
		<div id="visuals">
			<h3><%= t('.header_visuals') %></h3>
			<p><%= t('.text_visuals') %></p>
			<%= link_to t('.button_visuals'), submit_visual_path %>
		</div>

		<div id="data">
			<h3><%= t('.header_data') %></h3>
			<p><%= t('.text_data') %></p>
			<%= link_to t('.button_data'), data_path %>
		</div>
<%
=end %>
	</div>
</div>


