<% title @story.title %>
<div id="story_row1" class="row">
  <div class="span1">
    &nbsp;
  </div>
  <div id="main_block" class="span6 clear">
    <div id="story_date">
      <%= l @story.published_date, :format => :long if @story.published_date %>
    </div>
    <div class="vote">
		  <%= votes_cont(@story) %>
    </div>
  </div>
  <div class="span4">
    &nbsp;
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>  

<div id="story_row2" class="row">
  <div class="span1">
    &nbsp;
  </div>
  <div id="main_block" class="span6">
    <div id="visual">
      <%= image_tag @story.visual.url if @story.visual_file_name %>
    </div>
  </div>
  <div id="story_sidebar" class="span4">
    <% if @story.explanation %>
    <div id="explanation">
      <%= simple_format @story.explanation %>
    </div>
    <% end %>
    
    <div id="source">
      <ul>
        <li>
          <%= "#{t('.reporter')}: #{@story.reporter}" %>
        </li>
        <li>
          <%= "#{t('.designer')}: #{@story.designer}" %>
        </li>
        <li>
          <%= "#{t('.data_source')}: #{@story.data_source_name}" %>
          <%= link_to t('helpers.links.website'), @story.data_source_url, :target => "blank", :class => 'btn btn-mini' if @story.data_source_url%>
        </li>
        <li>
          <%= "#{t('.data_set')}: " %>
          <%= link_to t('helpers.links.download'), @story.dataset.url, :class => 'btn btn-mini' if @story.dataset_file_name%>
        </li>
        <li>
          <%= "#{t('.category')}: #{@story.story_categories.map{|x| x.category.name}.join(', ')}" %>
        </li>
        <li>
          <%= "#{t('.type')}: #{@story.story_type.name}" %>
        </li>
      </ul>
    </div>
    
    <div id="share">
      <div>
			<%= link_to(image_tag("fb_share.jpg", :height => "20"),
						"http://www.facebook.com/share.php?u=#{current_url}",
						:title => "facebook",	:target => "_blank") %>
			<%= link_to(image_tag("twitter.jpg", :height => "20"),
						"https://twitter.com/share", :title => "twitter",
						:target => "_blank") %>
			</div>
			<div>
			  Embed ...
			</div>
    </div>
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>  

<div id="story_row3" class="row">
  <div class="span1">
    &nbsp;
  </div>
  <div id="main_block" class="span6 clear">
    <div id="comment_count">
      <%= "#{t('.comment_count')}: #{0}" %>
    </div>
    <div class="vote">
		  <%= votes_cont(@story) %>
    </div>
  </div>
  <div class="span4">
    &nbsp;
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>  
