<% if !@page.nil? %>

	<%= page_title @page.title %>

  <% if @email_sent %>

    <p>
    <%= t(".message_sent") %>
    </p>

  <% else %>

	  <%= simple_format(@page.description) %>

    <div>
      <%= mail_to "info@feradi.info", nil, :encode => "hex", :subject => t('.email_subject'),
        :title => t('.email_us')%>
      <hr />
    </div>

  	<%= semantic_form_for @message, :url => submit_visual_path do |f| %>
  		<%= f.error_messages %>

  		<%= f.inputs do %>
  			<%= f.input :type, :as => :hidden, :value => Message::TYPES[:submit_visual] %>
  			<%= f.input :name, :label => t("activerecord.attributes.message.name"), :required => true %>
  			<%= f.input :organization, :label => t("activerecord.attributes.message.organization") %>
  			<%= f.input :email, :label => t("activerecord.attributes.message.email"), :required => true %>
  			<%= f.input :phone, :label => t("activerecord.attributes.message.phone") %>
  			<%= f.input :how_use, :label => t("activerecord.attributes.message.how_use"), :required => true, :as => :text, :input_html => {:rows => 5} %>
  		<% end %>

    	<div>
    	  <%= f.submit t(".send"), :class => 'btn' %>
    	</div>

  	<% end %>
  <% end %>


<% else %>
	<%= page_title t('.title') %>
<% end %>

<% if user_signed_in? %>
<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_page_path(@page), :class => 'btn' %>
</div>
<% end %>
