<%= page_title @organization.name %>

<% if @user_in_org && params[:controller] == 'organizations' %>
<div class="form-actions">
  <%= link_to t("helpers.links.edit_org", :org => @organization.name),
      edit_organization_path(@organization.id), :class => 'btn' %>
	<%= link_to t('helpers.links.new_visual', :org => @organization.name),
			new_organization_visualization_path(@organization.id), :class => 'btn btn-primary' %>
</div>
<% end %>

<div id="visual_list">
	<%= render @view_type %>
</div>

<%= link_to_next_page @visualizations, t('helpers.links.more'), :params => {:view => params[:view]}, :remote => true, :id=>"load_more_link" %>
