<%- model_class = Visualization -%>
<%- model_class_trans = VisualizationTranslation -%>
<%= page_title t '.title', :default => model_class.model_name.human %>

  <p><strong><%= model_class_trans.human_attribute_name(:title) %>:</strong>
  <%= @visualization.title %></p>
  <p><strong><%= model_class.human_attribute_name(:published_date) %>:</strong>
  <%= @visualization.published_date %></p>
  <p><strong><%= model_class.human_attribute_name(:published) %>:</strong>
  <%= @visualization.published %></p>
  <p><strong><%= model_class.human_attribute_name(:visualization_type) %>:</strong>
  <%= @visualization.visualization_type.name %></p>
  <p><strong><%= model_class_trans.human_attribute_name(:explanation) %>:</strong></p>
  <%= simple_format @visualization.explanation %>
  <p><strong><%= model_class_trans.human_attribute_name(:reporter) %>:</strong>
  <%= @visualization.reporter %></p>
  <p><strong><%= model_class_trans.human_attribute_name(:designer) %>:</strong>
  <%= @visualization.designer %></p>
  <p><strong><%= model_class_trans.human_attribute_name(:data_source_name) %>:</strong>
  <%= @visualization.data_source_name %></p>
  <p><strong><%= model_class.human_attribute_name(:data_source_url) %>:</strong>
  <%= link_to @visualization.data_source_url, @visualization.data_source_url if @visualization.data_source_url %></p>
  <p><strong><%= model_class.human_attribute_name(:dataset) %>:</strong>
  <%= link_to @visualization.dataset.url if @visualization.dataset_file_name %></p>
  <p><strong><%= model_class.human_attribute_name(:visual) %>:</strong>
	<%= image_tag @visualization.visual.url(:thumb) if @visualization.visual_file_name %></p>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_visualizations_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_visualization_path(@visualization), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_visualization_path(@visualization),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
              :class => 'btn btn-danger' %>
</div>
